body{
    background-color:#EAF6F6;
}

hr{

    border-style: dotted none none;
    border-color: rgb(194, 179, 179);
    border-width: 5px; ;
    width:5%;
    height: 0px;
}

h1{
    color: #66BFBF;
}

h3{
    color: #66BFBF;
}